<%- include('../includes/head.ejs') %> <%-
include('../includes/navigation.ejs')%>
<script src="/js/sweetalert2.all.min.js"></script>
<div class="container-fluid">
  <div class="col-md-3">
    <form action="/backoffice/setting" method="POST">
  </form>
</div>
<%- include('../includes/end.ejs') %>
